.treemap-viz {
  cursor: move;
}

.treemap-viz rect {
  cursor: pointer;
  stroke: lightgrey;
  stroke-opacity: .4;
  opacity: .85;
  transition-property: stroke-opacity, opacity;
  transition-duration: .4s;
}

.treemap-viz rect:hover {
  stroke-opacity: 1;
  opacity: 1;
  transition-duration: .05s;
}

.treemap-viz text {
  font-size: 12px;
  font-family: sans-serif;
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
  fill: #404041;
}

.treemap-viz text.light {
  fill: #F7F7F7;
}

.treemap-viz .tooltip {
  max-width: 320px;
  white-space: nowrap;
}

.treemap-viz .tooltip-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.treemap-viz {
  position: relative;
}
